#wrapper{
    width: 800px;
    margin: auto;
}
.margbot {
    margin-bottom: 10px;
}

h1 {
    font-family: sans-serif;
    font-size: 72px;
    text-align: center;
    color: rgba(255,255,255,1);
    margin: 0px;
}

nav {
    width: 800px;
    height: 50px;
    
    box-sizing: border-box;
}
header {
    width: 800px;
    height: 120px;
    background: black;
    box-sizing: border-box;
    padding-top: 10px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.3)    
}



ul {
    list-style: none;
    padding: 0px;
    
}

li a {
    display: block;
    height: 50px;
    width: 200px;
    float: left;
    text-align: center;
    box-sizing: border-box;
    padding-top: 15px;
    text-decoration: none;
    font-family: helvetica;
    font-weight: bold;
    background: black;
    color: white;
    transition: all 0.25s linear;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.3)
}

li a:hover {
    color: black;
    background: white;
    

}
