#wrapper{
    width: 75%;
    margin: auto;
}
/* Margin-taggar */
.margbot {
    margin-bottom: 10px;
}


/*---------------------------Navigation med listmeny-------------------------*/
nav {
    width: 75%;
    height: 50px;
    
    box-sizing: border-box;
}
ul {
    list-style: none;
    padding: 0px;
    
}

li a {
    display: block;
    height: 50px;
    width: 250px;
    float: left;
    text-align: center;
    box-sizing: border-box;
    padding-top: 15px;
    text-decoration: none;
    font-family: helvetica;
    font-weight: bold;
    background: black;
    color: white;
    transition: all 0.2s linear;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.3)
}

li a:hover {
    color: black;
    background: white;
    transform: scale(1.05);
    

}
/*--------------------------Slut på navigation med lismeny-------------------------*/
/*--------------------------------------Header-------------------------------------*/
header {
    width: 1000px;
    height: 200px;
    background: black;
    box-sizing: border-box;
    padding-top: 10px;
        
}

/*-------------------------Slut på header------------------------------------------*/


