body {
    background: rgba(0,0,0,0.1)
}

#wrapper{
    width: 1210px;
    margin: auto;
}
/* Margin-taggar */
.margbot {
    margin-bottom: 10px;
}
.margright{
    margin-right: 10px;
}

/*---------------------------Navigation med listmeny-------------------------*/
nav {
    width: 1210px;
    height: 100px;
    
    box-sizing: border-box;
}

ul {
    list-style: none;
    padding: 0px;
}

li a {
    display: block;
    height: 100px;
    width: 270px;
    float: left;
    text-align: center;
    box-sizing: border-box;
    padding-top: 40px;
    text-decoration: none;
    font-family: helvetica;
    font-weight: bold;
    background: black;
    color: white;
    transition: all 0.2s linear;
}

li a:hover {
    color: black;
    background: rgba(0,0,0,0.2);
    box-shadow: 0px 0px 40px 0px rgba(0,0,0,1) inset;
}

#shield {
    height: 100%;
    float: left;
    width:90px;
    margin-right: 20px;
    margin-left: 20px;
}

/*--------------------------Slut på navigation med lismeny-------------------------*/
/*--------------------------------------Header-------------------------------------*/
header {
    width: 1210px;
    height: 400px;
    background-image: image("Frontpage-Head");
    
}

/*-------------------------Slut på header------------------------------------------*/
/*-----------------------------tre artiklar i övre vänstra hörnet------------------*/
.tre {
    width: 600px;
    height: 600px;
    float: left;
}
article {
    transition: all 0.2s linear;
}
.small {
    width: 295px;
    height: 295px;
    background: black;
    float: left
}
.longhoriz {
    width: 600px;
    height: 295px;
    background: black;
    float: left;
}
.longvert {
    width: 295px;
    height: 600px;
    background: black;
    float: left;
}

article:hover {
    background: rgba(0,0,0,0.2);
    box-shadow: 0px 0px 100px 0px rgba(0,0,0,1.0) inset;
}
/*-----------------------------slut på tre artiklar i vänstra hörnet------------ */

#bot {
    width: 1210px;
    height: 295px;
    float: left
}

footer {
    width: 1210px;
    height: 150px;
    background: black;
    clear: both;
}
    

